.Container :global(.vtex-rich-text-0-x-container) {
    background: #2E2E2E;
    color: #59FF00;
}

.container :global(.vtex-rich-text-0-x-wrapper){
    background-color: #2E2E2E;
    color: #59FF00;
    width: 100%;
    
}

.container :global(.vtex-rich-text-0-x-headingLevel3){
    color: #59FF00;
}



